<div class="row">
  <div *ngIf="event$ | async as event" class="col-6 offset-3">
    <form #eventForm="ngForm" (ngSubmit)="onUpdate(eventForm, event)">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          id="name"
          name="name"
          [(ngModel)]="event.name"
          type="text"
          class="form-control"
          pattern=".{8,25}"
          required
        />
        <div [hidden]="eventForm.controls.name.valid" class="error-message">
          The name of the event must be between 8 and 25 chars.
        </div>
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input
          id="date"
          name="date"
          [(ngModel)]="event.date"
          type="text"
          class="form-control"
          pattern="^([1-9]|1[0-2])\/([1-9]|[1-2][0-9]|3[0-1])\/\d{4}"
          required
        />
        <div [hidden]="eventForm.controls.date.valid" class="error-message">
          The date should be in the 00/00/0000 day/month/year format.
        </div>
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <input
          id="time"
          name="time"
          [(ngModel)]="event.time"
          type="text"
          class="form-control"
          pattern="^([0][0-9]|[1][0-2])(am|pm)"
          required
        />
        <div [hidden]="eventForm.controls.time.valid" class="error-message">
          The time should be in the 00am or 00pm format.
        </div>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input
          id="location"
          name="location"
          [(ngModel)]="event.location"
          type="text"
          class="form-control"
          pattern="^[A-Z].{4,24}"
          required
        />
        <div [hidden]="eventForm.controls.location.valid" class="error-message">
          The location of the event must be between 8 and 25 chars and should be
          start with upcase.
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-lg">
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
